
footer {
    color: black;
    background-color: #272727;
    

}

.sect1_footer_inf {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #272727;
    color: white;
}


#footer_inf1 {
    flex-basis: 50%;
    margin: 0 auto;
}

.txt-inf {
    margin: 10px 50px;
    
}

.rs-icons {
    margin: 0px 10px;
    color: rgb(95, 131, 239);
}
#footer_inf2 {
    flex-basis: 20%;
    margin: 0 auto;

}
#footer_inf3 {
    flex-basis: 30%;
    margin: 0 auto;

}


.sect2_footer {
    text-align: center;
    padding-bottom: 0px;
}

#box_space {
    margin: 0 auto;

}
#terminos-condiciones{
    text-decoration: none;
    color: white ;

}
#terminos-condiciones:hover{
   text-decoration:underline;
    color: rgb(77, 208, 244);
    
}
.fa-whatsapp,.fa-facebook {
    font-size: 25px;
    text-align: center;
}

.fa-whatsapp:hover,
.fa-facebook:hover{
    color: white;
}

/* ************************************************************ 
<!-- MEDIA QUERY -->
************************************************************  */


@media only screen and (min-width:300px) and  (max-width:800px){

    .sect1_footer_inf {
        flex-direction: column;
    }
    #footer_inf1, #footer_inf2, #footer_inf3 {
margin: 10px;
    }
    .txt-inf {
        margin: 10px 20px;
    }
    

}   